.my-border{
    border:3px solid pink;
}
.Jacek{
    width: 106px;
 
    transition: all 1s;
    position: absolute;
    top: 30px;
    left: 301px;
}

@media only screen and (max-width: 600px) {
    .Jacek {
        top:500px;
        left:500px;  
    }
}
.Jacekfucking {
    top: 300px;
    left: 10px;
    
}